.form{
  display: flex;
  font-size: rem(18px);
 

  @include tablets{
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
    margin-top: 5%;
  }
  @include phones{
    padding: 0%;
   }
}

.form__block{
  display: flex;
  width: 50%;
  flex-direction: column;  

  @include tablets{
    width: 100%;
  }
}
.form__row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin:rem(10px);
}
.form__buttons{
  display: flex;
  margin-top: 5%;
  cursor: pointer;

  @include tablets{
    margin-top: 7%;
    align-self: center;
  }
}
.form__radio-checkbox-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include tablets{
    justify-content: center;
    margin-top: 5%;
  }
}
.form__label-radio{
  display: flex;
  margin-bottom: rem(10px);
}
.form__label-checkbox{
  display: flex;
}

.form__radio{
  width: 45%;
}
.form__label-input{
  display: flex;
  
  margin-right: 5%;
  flex-grow: 1;
}
.form__label{
  
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
}
.form__label-title{
  align-self: flex-start;
}
.form__input{
  height: rem(60px);
  border: none;
  padding: rem(10px);
  font-size: rem(18px);
  &:focus{
    border: 1px solid $color-green;
  }
}
.width-m{
  width: 100%;
}
.width-s{
  width: 100%;
}
.form__textarea{
  height: rem(180px);
  border: none;
  padding: rem(10px);
  font-size: rem(18px);
  resize: none;
  &:focus{
    border: 1px solid $color-green;
  }
}
.form__submit{
  color: #fff;
  background-color: $color-green;
  margin-right: 5%;

  @include tablets{
    margin-right: 10%;
  }
}
.form__reset{
  cursor: pointer;
  color: $color-green;
  font-size: rem(18px);
  &:active{
    opacity: 0.8;
  }
}
.form__checkbox{
  @include tablets{
    margin-top: 5%;
  }
}
.form__radio-btn, .form__checkbox-btn {
  display: none;
}
.form__radio-custom{
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: rem(10px);
  position: relative;
}
.form__radio-custom:after{
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: $color-green;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
}
.form__radio-btn:checked+.form__radio-custom:after{
  opacity: 1;
}
.form__radio-btn:checked+.form__radio-custom+.form__radio-text{
  opacity: 1;
}
.form__checkbox-custom{
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  margin-right: rem(10px);
  position: relative;
}
.form__checkbox-custom:after{
  content: "";
  background-image: url(./images/form/Галочка.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 30%;
  right: 0;
  left: 30%;
  bottom: 0;
  opacity: 0;
}
.form__checkbox-btn:checked+.form__checkbox-custom:after{
  opacity: 1;
}
.form__checkbox-btn:checked+.form__checkbox-custom+.form__checkbox-text{
  opacity: 1;
}