.first {
  position: relative;
  background-color: $color-blue;
  color: #fff;
  background-image: url(./images/main/fern.png);
  background-repeat: no-repeat;
  background-position:100% 100%;

  @include tablets{
    background-position:100% 0%;
  }

  @include phones{
    background-size:90%;
  }
}
.first-container{
  justify-content: flex-start;
}
.welcome-picture__position__absolute img{
  margin: 0 auto;
  position: absolute;
  bottom: rem(-50px);
  left: 0;
  right: 0;
  z-index: 0;

  @include tablets{
    top:25%;
    left: -60%;
    z-index: 3;
  }
  @include phones{
    top:20%;
    left: -60%;
  }
}