.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: rem(65px);
  margin-top: rem(11px);

 
}

.phone-number {
  color: #fff;
  line-height: rem(30px);
  font-weight: normal;
  font-size: rem(24px);

  &:before {
    content: " ";
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(10px);
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./images/header/phone.png);
  }

  @include tablets{
    display: none;
    
  }
}