.socials{
  width:50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  

  @include phones{
    width: 100%;
    justify-content: center;
   }
}
.socials__icon{
  margin-left: rem(20px);
  transition: 0.3ms;
  opacity: 0.5;

  @include phones{
    background-size: cover;
   }

}
.socials__icon:hover{
  opacity: 1;
}
.socials__icon--vk{
  width: rem(23px);
  height: rem(13px);
  background-image: url(../images/footer/vk_hover.png);
  background-repeat: no-repeat;
}
.socials__icon--fb{
  width: rem(20px);
  height: rem(20px);
  background-image: url(../images/footer/fb_hover.png);
  background-repeat: no-repeat;
}
.socials__icon--inst{
  width: rem(20px);
  height: rem(20px);
  background-image: url(../images/footer/inst_hover.png);
  background-repeat: no-repeat;
}
.socials__icon--twit{
  width: rem(20px);
  height: rem(16px);
  background-image: url(../images/footer/twitter_hover.png);
  background-repeat: no-repeat;
}