.socials{
  width:50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}
.socials__icon{
  margin-left: 20px;
  transition: 0.3ms;
  opacity: 0.5;
}
.socials__icon:hover{
  opacity: 1;
}
.socials__icon--vk{
  width: 23px;
  height: 13px;
  background-image: url(../images/footer/vk_hover.png);
  background-repeat: no-repeat;
}
.socials__icon--fb{
  width: 20px;
  height: 20px;
  background-image: url(../images/footer/fb_hover.png);
  background-repeat: no-repeat;
}
.socials__icon--inst{
  width: 20px;
  height: 20px;
  background-image: url(../images/footer/inst_hover.png);
  background-repeat: no-repeat;
}
.socials__icon--twit{
  width: 20px;
  height: 16px;
  background-image: url(../images/footer/twitter_hover.png);
  background-repeat: no-repeat;
}