.team {
  position: relative;
  color: #000;
  }
.team-picture__position__absolute {
   
  &-leaf{
  position: absolute;
  top: rem(-237px);
  right: 0;
  z-index: 0;

  @include phones{
    width: 35%;
  }
  }
  &-berries{
  position: absolute;
  top: rem(-64px);
  right: rem(16px);
  z-index: 1;
  @include phones{
    width: 20%;
    right: -2%;
  }
  }
}
.team__title {
  text-align: center;
  font-size: rem(48px);
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  
}