.features__list {
  display: flex;
}

.features__desc {
  text-align: center;
}

.features__item {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: space-between;
  margin-right: 30px;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background-image: url(../images/why_chocco/circles.png);
    background-repeat: no-repeat;
    margin-top: 56px;
    margin-left: -25px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.features__icon {
  background-color: #f2f5f4;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features__icon--man {
  background-image: url(../images/why_chocco/man.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.features__icon--smile {
  background-image: url(../images/why_chocco/smile.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.features__icon--power {
  background-image: url(../images/why_chocco/power.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.features__title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 15px;
}

.features__text {
  font-size: 18px;
  font-weight: 300;

}