.slider__block{
  display: flex;
  height: 100%;

  @include tablets{
    flex-wrap: wrap;
  }
}

.slider__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;

  @include tablets{
    height: 60%;
    width: 100%;
    justify-content: flex-start;
  }
}
.slider__pic{
  width: 60%;
  height: 100%;
  position: relative;

  @include tablets{
    height: 40%;
    width: 100%;
    background-size: 50%;
  }
}
.slider__desc{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;

  @include tablets{
    height: 85%;
    text-align: center;
  }
}
.slider__row{
  display: flex;
  flex-wrap: wrap;
  @include tablets{
  justify-content: center;
  }
}
.slider__img{
 position: absolute;
 top:9%;
 left: 14%;
 @include tablets{
  width: 60%;  
  top: 6%;
  left: 18%; 
}
}
.slider__pic-oval-two{
  background-image: url(../images/slider/1slide/Эллипс.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -6%;

  @include tablets{
    background-size: 60%;
    background-position: 50% 74%;
  }

}
.slider__pic-oval{
  position: relative;
  background-image: url(../images/slider/1slide/Эллипс2.png), url(../images/slider/foliage.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center, 55% 40%;

  @include tablets{
   background-size: 60%; 
   background-position: 49% 68%, 43% 66%;
  }
}

.slider__title{
  font-size: rem(36px);
  font-weight: bold;
  text-transform: uppercase;

  @include tablets{
    font-size: rem(30px);
  }
}
.slider__composition-title{
  font-weight: 500;
  font-size: rem(24px);
  @include tablets{
    text-align: center; 
    }
}
.slider__text{
  width: 90%;
  font-size: rem(18px);
  font-weight: normal;
}
.slider__calories{
  margin-right: 10%;
  @include tablets{
    text-align: left; 
    }
}
.slider__weight{
  @include tablets{
    text-align: left;
  }
}
.slider__calories-value, .slider__weight-value{
  font-weight: bold;
  font-size: rem(18px);
}
.slider__cost{
  font-size: rem(60px);
  font-weight: lighter;
}
.slider--btn{
  margin-left: 10%;
  color: #fff;
  background-color: $color-green;
}
.last--row{
  margin-top: 6%;
  align-items: center;
  @include tablets{
    text-align: center; 
    }
}