.first {
  position: relative;
  background-color: $color-blue;
  color: #fff;
  background-image: url(../images/main/candy.png), url(../images/main/fern.png);
  background-repeat: no-repeat;
  background-position: 95% 45%, 100% 100%;
}

.welcome__picture__position__absolute {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;

}