.menu__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}

@mixin menuitem {
  color: #fff;
  line-height: 30px;
  font-weight: normal;
  font-size: 24px;
}

.logo {
  @include menuitem;
  line-height: 21px;
  font-family: 'Museo_Sans', 'Museo Sans Cyrl', sans-serif;
  font-weight: 500;
}

.menu__link {
  @include menuitem;
  font-size: 18px;
  padding: 10px;
  margin-right: 7px;
}