.panel {
  position: absolute;
  bottom: 0;
  display: flex;
  width: rem(660px);
  height: rem(40px);
  background: grey;
  margin-top: -5px;
  border: 1px solid #aaa;
}

.play{
	position: absolute;
	left: 3%;
	top: 1%;
	margin-left: 10px;
	margin-top: 5px;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-left-color: #fff;
  padding: 0;
  border-right-width: 0;
  background: transparent;


  &.paused {
    width: 14px;
    height: 22px;
    border: none;

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      top: 0;
      bottom: 0;
      background: #fff;
    }

    &:after {
      right: 0;
    }

    &:before {
      left: 0;
    }
  }
}


.player__time {
	position: absolute;
	left: 5%;
	top: 1%;
  width: rem(50px);
  height: rem(30px);
  color: #fff;
  padding-top: 5px;
  margin-left: 10px;
}

.player__line {
	position: absolute;
	left: 18%;
	top: 1%;
  margin-top: 15px;
  height: rem(4px);
  width: rem(450px);
  background: #fff;
  margin-right: 15px;
  @include phones{
    width: rem(340px);
  }
}

.player__volume {
	position: absolute;
	right: 5%;
	top: 25%;
	opacity: 1;
}
.volume__active{
	opacity: 0.5;
}

.player__fader {
	position: absolute;
  background: black;
  border-radius: 50px;
  border: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  left: 0;

  @include phones{
    width: 9px;
    height: 9px;
    top: -3px;
  }
}


.player__image {
	opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  background: url('./images/how_we_work/Granola-Bars-with-calamondin.jpg') center center no-repeat;
  cursor: pointer;
}

.player__wrapper {
  &.active .player__image {
		opacity: 0;
		transition: .3s;
		display: none;
  }

}