.whychocco {
  position: relative;
  color: #000;
  background-image: url(../images/why_chocco/leaf.png);
  background-repeat: no-repeat;
  background-position: 0% 56%;

  @include phones{
    background-position: 0% 30%;
  }
}

.whychocco__title {
  text-align: center;
  font-size: rem(48px);
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: rem(10px);
  margin-top: rem(94px);
  @include tablets{
  margin-top: 5%;
  }
}

.whychocco__desc {
  align-self: center;
  width: 49%;
  line-height: 1.3;
  text-align: center;
  font-size: rem(18px);
  font-weight: normal;
  margin-bottom: rem(50px);
  
  @include tablets{
    width: 60%;  
    align-items:center;
    margin-bottom: rem(20px);
  }
  @include phones{
    width: 80%;
  }
}
.whychocco-picture__position__absolute {
  position: absolute;
  bottom: rem(-108px);
  left: 0;
  right: 0;
  z-index: 0;

  @include phones{
    bottom: -10%;
    width: 25%;
    
  }
}