.welcome-content {
  width: 50%;
  
  @include tablets{
    width: 100%;
    text-align: center;
    }
  @include phones{
    
    

  }
}

.welcome-content__block {
  margin-top: rem(78px);

@include tablets{
  margin-top: 0;
}
}

.welcome-content__description {
  font-size: rem(21px);
  font-weight: normal;
  line-height: 1.3;
  @include tablets{
    padding: 0 rem(150px);
  }
  @include phones{
    padding: 0 rem(70px);
  }
}

.title {
  font-size: rem(60px);
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: rem(5px);
  @include phones{
    font-size:rem(50px);
  }
  
}

.welcome-content__features {
  margin-top: auto;
  margin-bottom: rem(40px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: rem(16px);

  @include tablets{
    justify-content: center;
  }
}

.welcome-content__desc {
  width: rem(75px);
  line-height: 1.3;
}

.welcome-content__item {
  margin-top: rem(65px);
  margin-right: rem(50px);
  display: flex;
  flex-direction: row;

}

.welcome-content__icon {
  margin-right: rem(10px);
  height: rem(50px);
  width: rem(50px);

}

.welcome-content__icon_leaf{
  height: rem(45px);
  width: rem(45px);
  fill:none;
  stroke:#b0f7ff;
  stroke-width:0.8;
  stroke-miterlimit:10;
	
}
.welcome-content__icon_tape{
  height: rem(45px);
  width: rem(45px);
  fill:none;
  stroke:#b0f7ff;
  stroke-width:0.8;
  stroke-miterlimit:10;
}


.btn_content {
  margin-top: rem(28px);

}
.welcome__chocco{
  @include tablets{
    width: 55%;
  }
  @include phones{
    width: 85%;
  }
}
.welcome__main{
  display: flex;
  justify-content: space-between;
  height:100%;

  @include tablets{
    flex-direction: column-reverse;
    align-items: center;
  }
}