.menu-adaptive {
  position: absolute;
  background-color: #303436;
  opacity: 0.99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu-adaptive__list {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}



.menu-adaptive__link {
  color: #fff;
  font-size: rem(36px);
  opacity:1;
}

.menu-adaptive__cross-close {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    
    &:hover {
    opacity: 1;
    }
    &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #fff;
    }
    &:before {
    transform: rotate(45deg);
    }
    &:after {
    transform: rotate(-45deg);
    }
}
