.feedback {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #000;
  display: flex;
  flex-direction: column;
  background-image: url(../images/feedback/berry.png);
  background-repeat: no-repeat;
  background-position: 100% 5%;
  
  @include phones{
    background-position: 115% 3%
  }
}

.feedback--container{
  @include phones{
    width: 100%;
  }
}
.feedback-picture__position__absolute {
   
  &-leaf{
  position: absolute;
  bottom: rem(-262px);
  left: 0;
  right: 0;
  z-index: 0;
  @include phones{
    width: 25%;
   }
  }
  &-berries{
  position: absolute;
  bottom: rem(-192px);
  left: 0;
  right: 0;
  z-index: 1;
  
  @include phones{
   width: 30%;
  }
}
}

.feedback__title {
  font-weight: 700;
  font-size: rem(48px);
  text-align: center;
  margin-top: rem(30px);
  text-transform: uppercase;

  @include phones{
    margin-top: 10%;
  }
}


.feedback__active {
  margin-top: rem(30px);
  display: flex;
  height: rem(350px);
  width: 100%;
  background-color: #f8faf9;
  background-image: url(../images/feedback/design_berry.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  @include tablets{
    flex-direction: column;
    align-items: center;
    height: rem(600px);
    width:75%;
    margin: 0 auto;
    margin-top: 10%;
  }
  @include phones{
    width: 100%;
    height: rem(700px);
    
  }
}

.feedback__avatar {
  background-position: center center;
  margin-top: rem(50px);
  margin-left: rem(45px);
}
.feedback__pic{
  min-width: rem(254px);

  @include tablets{
    width: 80%;
    margin-bottom: 10%;
  }
}

.feedback__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: rem(20px);
  font-weight: normal;

  @include tablets{
    text-align: center;
  }
}

.feedback__desc-title {
  font-size: rem(30px);
  font-weight: 500;
  margin-bottom: rem(20px);
}

.feedback__desc-text {
  width: 70%;
  margin-bottom: rem(20px);
  line-height: 1.3;
  font-size: rem(18px);

  @include tablets{
    width: 100%;
    padding: 0 rem(50px);
  }
}

.feedback__desc-username {
  font-size: rem(18px);
}