.delivery-form{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../images/form/паттерн.png);
  background-size: cover;
  color: $color-green;
  display: flex;
  text-align: center;
}
.delivery-form__title h2{
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-top: 10%;
  text-transform: uppercase;
}
.form-picture__position__absolute-blackberries{
  position: absolute;
  right: 0;
  top: -150px;
}
.form-picture__position__absolute-leaf{
  position: absolute;
  right: 5%;
  bottom: 15%;
}
.form-picture__position__absolute-berry{
  position: absolute;
  right: 0;
  left: 5%;
  bottom: 10%;
}