

.accordion__list{
  position: absolute;
  display: flex;
  height: 100%;
  right: 0;
  top: 0;
 
}
.accordion__item{
  transition:  0.3s ease-in-out;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  
}
.accordion__link{
  transition:  0.3s ease-in-out;
  cursor: pointer;
  width: rem(100px);
  display: flex;
  align-items: flex-end;
  justify-content:center;

  @include phones{
    width: 4rem;
    }
}
.accordion__title{
  transition:  0.3s ease-in-out;
  font-size: rem(47px);
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  writing-mode: vertical-lr; 
  transform: scale(-1); 

  margin-bottom: rem(40px);
  
}
.accordion-bg-milk{
  height: 100%;
  
  background-image: url(./images/menu/milk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.accordion-bg-honey{
  height: 100%;
  
  background-image: url(./images/menu/honey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.accordion-bg-berries{
  height: 100%;
  
  background-image: url(./images/menu/berries.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.accordion__desc{
  transition: 0.3s ease-in-out;
  width: 0;
  overflow: hidden;
  background-color:#000;
  opacity: 0.7;
  height: 100%;

}

.accordion__text{
  overflow: hidden;
  font-size: rem(16px);
  font-weight: 400;
  color:white;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.accordion__item--active .accordion__desc{
  width: 33rem;
  transition:  0.3s ease-in-out;

  @include phones{
  width: 20rem;
  }
  @include phones{
    left: 0;
    transform: translateX(0);
    }
}
.accordion__item--active{
  transition:  0.3s ease-in-out;

}