.slider-section {
  background-color: #f8faf9;

  @include tablets {
    height: 100vh;
  }
}

.slider__container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.slider__arrow-previos {
  width: rem(20px);
  height: rem(30px);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 2%;
  background-repeat: no-repeat;
  background-image: url(./images/slider/arrow-scroll_left.png);

  &:active {
    background-color: #fff;
    opacity: 0.6;
  }

  @include tablets {
    left: 5%;
  }

  @include phones {
    height: rem(60px);
    width: rem(30px);
  }
}

.slider__arrow-next {
  width: rem(20px);
  height: rem(30px);
  top: 50%;
  right: 2%;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url(./images/slider/arrow-scroll_right.png);

  &:active {
    background-color: #fff;
    opacity: 0.6;
  }

  @include tablets {
    right: 5%;
  }

  @include phones {
    height: rem(60px);
    width: rem(30px);
  }
}

.slider__items {
  height: 100%;
  display: flex;
  position: relative;
  transition: 0.7s ease-in-out;
}

.slider {
  display: flex;
  position: relative;
  height: 100%;
  width: rem(1100px);
  overflow: hidden;
  margin: 0 auto;

  @include tablets{
    width: rem(768px);
  }
  @include phones{
    width: rem(320px);
  }
}